		* {
	margin: 0 px;
	padding: 5px;
	float: left;
}
input[name='button_o']:hover{
	background-color:#373F4F;
	border:2px solid #373F4F;

}

input[name='button_o']:focus{
	background-color:#373F4F;
	border:2px solid #9AAACC;
}


input[name='button_o']:active{
	background-color: #373F4F;
}


input[name='button_o']:disabled{
	background-color: #E5EFFF;
	border:2px solid #E5EFFF
}



input[type='submit']{
	text-transform: uppercase;
background-color:#1B2230;
color: white;
	border:2px solid #1B2230;
	border-radius: 8px;
	width: 112px;
	height: 40px
}

input[name='button2']:hover{
	background-color:#373F4F;
	border:2px solid #373F4F;
}

input[name='button3']:focus{
	background-color:#373F4F;
	border:2px solid #9AAACC;
}

input[name='button4']:active{
	background-color: #373F4F;
}

input[name='button5']:disabled{
	background-color: #E5EFFF;
	border:2px solid #E5EFFF
}

