body{font-family: Roboto;}

.fw-9{font-weight: 900;}
.fw-8{font-weight: 800;}
.fw-7{font-weight: 700;}
.fw-6{font-weight: 600;}
.fw-5{font-weight: 500;}
.fw-4{font-weight: 400;}
.fw-3{font-weight: 300;}
.fw-2{font-weight: 200;}
.fw-1{font-weight: 100;}

.container {
	margin: 0 auto;
	width: min(100%,800px);
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: #000000;
	background: linear-gradient(32deg, rgba(0, 0, 0, 1) 0%,
	rgba(129, 176, 219, 1)
	51%, rgba(83, 178, 237, 1) 81%);
}

.box1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box2 {
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	padding-bottom: 40px
}

.base1:hover {
	background-color:#373F4F;
	border:2px solid #373F4F;
}

.base1:focus {
	background-color:#373F4F;
	border:2px solid #9AAACC;
}

.base1:active {
	background-color: #373F4F;
}

.base1:disabled {
	background-color: #E5EFFF;
	border:2px solid #E5EFFF;
}

.btn {
	padding: 8px 32px;
    background-color: #1B2230;
    color: white;
    border: 2px solid #1B2230;
    border-radius: 8px;
    width: 112px;
    height: 40px;
	overflow: hidden;
}

.button:hover,
.hover {
    background-color: #373F4F;
    border: 2px solid #373F4F;
}

.button:focus,
.focus {
    background-color: #373F4F;
    border: 2px solid #9AAACC;
}

.button:active, 
.active {
    background-color: #373F4F;
	border: 2px solid #373F4F;
}

.button:disabled,
.disabled {
    background-color: #E5EFFF;
    border: 2px solid #E5EFFF
}

.container2 {
	margin: 30px auto; 
	width: min(100%,800px);
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: linear-gradient(32deg,rgba(255, 255, 255, 1) 0%,
	rgba(129, 176, 219, 1) 51%, 
	rgba(83, 178, 237, 1) 81%);
}

.box3 {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 20px;
	padding-top: 10px;
	gap: 4px;
}

.box4 {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	padding-top: 10px;
	gap: 10px;
}

label {
	color: #1B2230;
	display: flex;
	flex-wrap: wrap;
	overflow:hidden;
}

.label1 {
	margin-bottom: 4px;
	font-size: 14px;
}

.label11{
	color: #535C6F;
}

.label2 {
	margin-top: 13px;
	font-size: 12px;
	line-height: 16px;
	size: 12px;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	color: #535C6F;
	bottom: 10px
}

.base2:hover::placeholder {
	color: #A6B3CD;
}

.base2:focus {
	outline: 4px solid #9AAACC;
}

.base2:focus::placeholder {
	color: #1B2230;
}

.base2:disabled {
	background-color: #E5EFFF;
}

input::placeholder {
	color: #A6B3CD
}

.inpt1:hover,
.hover1::placeholder {
	color: #A6B3CD;
}

.input:focus,
.focus1{
	outline: 4px solid #9AAACC;
}

.input:focus,
.focus1::placeholder {
	color: #1B2230;
}

.filled1::placeholder {
	color: #1B2230;
}

.input:disabled,
.disabled1 {
	background-color: #E5EFFF;
}

.input:disabled,
.disabled1::placeholder {
	color: #9AAACC;
}

.inpt {
	border-radius: 4px;
	padding: 8px 12px;
	border: 1px solid #535C6F;
	outline: 0 solid white;
}

.inpt + span{
	top: 10px;
	right: 20px;
	position: relative;
}

.inpt:invalid + span::before {
	position: absolute;
	content: url(close.svg);
	width: 13px;
	height: 13px;
    border-radius: 50%;
	border: 1px solid #535C6F;
}

.inpt:valid + span::before {
	position: absolute;
	content: url(check.svg);
	width: 13px;
	height: 13px;
	background-color: #535C6F;
	border-radius: 100%;
	border: 1px solid #535C6F;
}

.container3 {
	margin: 30px auto; 
	width: min(100%,1000px);
	border: 2px solid black;
	border-radius: 30px;
	background: purple;
}

.box5 {
	margin-top: 20px;
	margin-left: 30px;
	gap: 12px;
}

.box6 {
	display: flex;
	margin-top: 20px;
	margin-left: 30px;
	gap: 12px;
}

.box7 {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30px;
	display: flex;
	gap: 12px;
	
}

@media (min-width: 1280px) {
.imagehouse {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}
}

@media (max-width: 1280px) {
.imagehouse {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}
}

@media (max-width: 960px) {
.imagehouse {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}
}

@media (max-width: 960px) {
.imagehouse {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	border-radius: 6px;
	width: 88px;
	height: 88px;
}
}

.imagehouse0 {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}

.imagehouse1 {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}

.imagehouse2 {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}

.imagehouse3 {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	border-radius: 6px;
	width: 88px;
	height: 88px;
}

@media (min-width: 1280px) {
.imagesb {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
}
}

@media (max-width: 1280px) {
.imagesb {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
}
}
@media (max-width: 960px) {
.imagesb {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
}
}

@media (max-width: 960px) {
.imagesb {
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 100px;
}
}

.images {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
}

.images1 {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
	height: 345px;
}

.images2 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
	height: 245px;
}

.images3 {
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 100px;
	height: 130px;
}

@media (min-width: 1280px){
.textimg {
	padding-bottom: 24px;
	margin-top: 16px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	overflow-wrap: break-word;
	font-size: 20px;
}
}

@media (max-width: 1280px){
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}
}

@media (max-width: 960px) {
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}
}

@media (max-width: 960px){
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 4px;
	padding-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	width: 90px;
	font-size: 10px;
}
}

.textimg0 {
	padding-bottom: 24px;
	margin-top: 16px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	overflow-wrap: break-word;
	font-size: 20px;
}

.textimg1 {
	padding-bottom: 25px;
	margin-top: 16px;
	margin-bottom: 24px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	font-size: 20px;
}

.textimg2 {
	text-align: start;
	overflow-wrap: break-word;
	padding-bottom: 12px;
	margin-top: 12px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}

.textimg3 {
	text-align: start;
	overflow-wrap: break-word;
	padding-bottom: 24px;
	margin-top: 4px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	width: 88px;
	height: 24px;
	font-size: 10px;
}

.imagess:hover,
.hover3 {
    box-shadow: 2px 1px 10px 4px #0000001A;
}

.imagess:focus,
.focus3 {
    outline: 2px solid #9AAACC;
}

.bb:hover {
	box-shadow: 2px 1px 10px 4px #0000001A;
}

.bb:focus {
	outline: 4px solid #9AAACC;
}




