body{font-family: Roboto;}

.fw-9{font-weight: 900;}
.fw-8{font-weight: 800;}
.fw-7{font-weight: 700;}
.fw-6{font-weight: 600;}
.fw-5{font-weight: 500;}
.fw-4{font-weight: 400;}
.fw-3{font-weight: 300;}
.fw-2{font-weight: 200;}
.fw-1{font-weight: 100;}

.container {
	margin: 0 auto;
	width: min(100%,800px);
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: #000000;
	background: linear-gradient(32deg, rgba(0, 0, 0, 1) 0%,
	rgba(129, 176, 219, 1)
	51%, rgba(83, 178, 237, 1) 81%);
}

.box1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box2 {
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	padding-bottom: 40px
}

.base1:hover {
	background-color:#373F4F;
	border:2px solid #373F4F;
}

.base1:focus {
	background-color:#373F4F;
	border:2px solid #9AAACC;
}

.base1:active {
	background-color: #373F4F;
}

.base1:disabled {
	background-color: #E5EFFF;
	border:2px solid #E5EFFF;
}

.btn {
	padding: 8px 32px;
    background-color: #1B2230;
    color: white;
    border: 2px solid #1B2230;
    border-radius: 8px;
    width: 112px;
    height: 40px;
	overflow: hidden;
}

.button:hover,
.hover {
    background-color: #373F4F;
    border: 2px solid #373F4F;
}

.button:focus,
.focus {
    background-color: #373F4F;
    border: 2px solid #9AAACC;
}

.button:active, 
.active {
    background-color: #373F4F;
	border: 2px solid #373F4F;
}

.button:disabled,
.disabled {
    background-color: #E5EFFF;
    border: 2px solid #E5EFFF
}

.container2 {
	margin: 30px auto; 
	width: min(100%,800px);
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: linear-gradient(32deg,rgba(255, 255, 255, 1) 0%,
	rgba(129, 176, 219, 1) 51%, 
	rgba(83, 178, 237, 1) 81%);
}

.box3 {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 20px;
	padding-top: 10px;
	gap: 4px;
}

.box4 {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	padding-top: 10px;
	gap: 10px;
}

.label1, .label11 .label2 {
	color: #1B2230;
	display: flex;
	flex-wrap: wrap;
	overflow:hidden;
}

.label1 {
	margin-bottom: 4px;
	font-size: 14px;
}

.label11{
	color: #535C6F;
}

.label2 {
	margin-top: 13px;
	font-size: 12px;
	line-height: 16px;
	size: 12px;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	color: #535C6F;
	bottom: 10px
}

.base2:hover::placeholder {
	color: #A6B3CD;
}

.base2:focus {
	outline: 4px solid #9AAACC;
}

.base2:focus::placeholder {
	color: #1B2230;
}

.base2:disabled {
	background-color: #E5EFFF;
}

input::placeholder {
	color: #A6B3CD
}

.inpt1:hover,
.hover1::placeholder {
	color: #A6B3CD;
}

.input:focus,
.focus1{
	outline: 4px solid #9AAACC;
}

.input:focus,
.focus1::placeholder {
	color: #1B2230;
}

.filled1::placeholder {
	color: #1B2230;
}

.input:disabled,
.disabled1 {
	background-color: #E5EFFF;
}

.input:disabled,
.disabled1::placeholder {
	color: #9AAACC;
}

.inpt {
	border-radius: 4px;
	padding: 8px 12px;
	border: 1px solid #535C6F;
	outline: 0 solid white;
}

.inpt + span{
	top: 10px;
	right: 20px;
	position: relative;
}

.inpt:invalid + span::before {
	position: absolute;
	content: url(close.svg);
	width: 13px;
	height: 13px;
    border-radius: 50%;
	border: 1px solid #535C6F;
}

.inpt:valid + span::before {
	position: absolute;
	content: url(check.svg);
	width: 13px;
	height: 13px;
	background-color: #535C6F;
	border-radius: 100%;
	border: 1px solid #535C6F;
}

.container3 {
	margin: 30px auto; 
	width: min(100%,1000px);
	border: 2px solid black;
	border-radius: 30px;
	background: purple;
}

.box5 {
	margin-top: 20px;
	margin-left: 30px;
	gap: 12px;
}

.box6 {
	display: flex;
	margin-top: 20px;
	margin-left: 30px;
	gap: 12px;
}

.box7 {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 30px;
	display: flex;
	gap: 12px;
	
}

@media (min-width: 1280px) {
.imagehouse {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}
}

@media (max-width: 1280px) {
.imagehouse {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}
}

@media (max-width: 960px) {
.imagehouse {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}
}

@media (max-width: 960px) {
.imagehouse {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	border-radius: 6px;
	width: 88px;
	height: 88px;
}
}

.imagehouse0 {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}

.imagehouse1 {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 24px;
	border-radius: 12px;
	width: 252px;
	height: 252px;
}

.imagehouse2 {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	border-radius: 8px;
	width: 172px;
	height: 172px;
}

.imagehouse3 {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	border-radius: 6px;
	width: 88px;
	height: 88px;
}

@media (min-width: 1280px) {
.imagesb {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
}
}

@media (max-width: 1280px) {
.imagesb {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
}
}
@media (max-width: 960px) {
.imagesb {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
}
}

@media (max-width: 960px) {
.imagesb {
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 100px;
}
}

.images {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
}

.images1 {
	border-radius: 18px;
	background-color: #FFFFFF;
	width: 300px;
	height: 345px;
}

.images2 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 196px;
	height: 245px;
}

.images3 {
	border-radius: 8px;
	background-color: #FFFFFF;
	width: 100px;
	height: 130px;
}

@media (min-width: 1280px){
.textimg {
	padding-bottom: 24px;
	margin-top: 16px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	overflow-wrap: break-word;
	font-size: 20px;
}
}

@media (max-width: 1280px){
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}
}

@media (max-width: 960px) {
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 12px;
	padding-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}
}

@media (max-width: 960px){
.textimg {
	text-align: start;
	overflow-wrap: break-word;
	margin-top: 4px;
	padding-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	width: 90px;
	font-size: 10px;
}
}

.textimg0 {
	padding-bottom: 24px;
	margin-top: 16px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	overflow-wrap: break-word;
	font-size: 20px;
}

.textimg1 {
	padding-bottom: 25px;
	margin-top: 16px;
	margin-bottom: 24px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: start;
	font-size: 20px;
}

.textimg2 {
	text-align: start;
	overflow-wrap: break-word;
	padding-bottom: 12px;
	margin-top: 12px;
	margin-bottom: 16px;
	margin-left: 12px;
	margin-right: 12px;
	width: 172px;
	font-size: 14px;
}

.textimg3 {
	text-align: start;
	overflow-wrap: break-word;
	padding-bottom: 24px;
	margin-top: 4px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	width: 88px;
	height: 24px;
	font-size: 10px;
}

.imagess:hover,
.hover3 {
    box-shadow: 2px 1px 10px 4px #0000001A;
}

.imagess:focus,
.focus3 {
    outline: 2px solid #9AAACC;
}

.bb:hover {
	box-shadow: 2px 1px 10px 4px #0000001A;
}

.bb:focus {
	outline: 4px solid #9AAACC;
}

.container4 {
	margin: 0 auto;
	width: min(100%,800px);
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: #000000;
	background: linear-gradient(32deg, rgba(0, 0, 0, 1) 0%,
	rgba(129, 176, 219, 1)
	51%, rgba(83, 178, 237, 1) 81%);
}

.box8 {
	margin-left: 30px;
	display: flex;
	
}

.box9 {
	margin-left: 30px;
	margin-top: 10px;
	display: flex;
	gap: 20px
}

.box10 {
	margin-left: 30px;
	margin-top: 30px;
	display: flex;
	gap: 20px
}
/**/
.rs0 {
	margin: 12px;
}

@media (min-width: 905px) {
.tags0 {
	justify-self: center;
	font-size: 14px;
	display: flex;
	gap: 16px;
}
}

@media (min-width: 905px) {
.t1-0 {
	color: white;
	font-size: 10px;
	background-color: #19C673;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (min-width: 905px) {
.t2-0 {
	color: white;
	font-size: 10px;
	background-color: #005AFD;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (min-width: 905px) {
.card0 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}
}

@media (min-width: 905px) {
.textcard0 {
	overflow: hidden;
	font-size: 14px;
	width: 160px;
	height: 60px;
}
}

@media (min-width: 905px) {
.cream0 {
	margin-top: 32px;
    margin-bottom: 16px;
    margin-right: 16px;
    max-width: 100%;
}
}

@media (min-width: 905px) {
.price0 {
	justify-content: center;
    margin: 14px 1px;
    display: flex;
}
} 

@media (min-width: 905px) {
.price1-0 {
	padding: 4px 12px;
	color: #FD33BD;
	border-radius: 24px;
	background-color: #EDF1F9;
}
}

@media (min-width: 905px) {
.price2-0 {
	padding: 4px 7px;
	color: #BDBDBD;
}
}

@media (min-width: 905px) {
.rating-area0 {
	margin-top: 16px;
	display: flex;
	color: gold;
}
} 

@media (max-width: 905px) {
.tags0 {
	justify-self: center;
	font-size: 14px;
	display: flex;
	gap: 16px;
}
}

@media (max-width: 905px) {
.t1-0 {
	color: white;
	font-size: 10px;
	background-color: #19C673;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (max-width: 905px) {
.t2-0 {
	color: white;
	font-size: 10px;
	background-color: #005AFD;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (max-width: 905px) {
.card0 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}
}

@media (max-width: 905px) {
.textcard0 {
	overflow: hidden;
	font-size: 14px;
	width: 160px;
	height: 60px;
}
}

@media (max-width: 905px) {
.cream0 {
	margin-top: 32px;
    margin-bottom: 16px;
    margin-right: 16px;
    max-width: 100%;
}
}

@media (max-width: 905px) {
.price0 {
	justify-content: center;
    margin: 14px 1px;
    display: flex;
}
} 

@media (max-width: 905px) {
.price1-0 {
	padding: 4px 12px;
	color: #FD33BD;
	border-radius: 24px;
	background-color: #EDF1F9;
}
}

@media (max-width: 905px) {
.price2-0 {
	padding: 4px 7px;
	color: #BDBDBD;
}
}

@media (max-width: 905px) {
.rating-area0 {
	margin-top: 16px;
	display: flex;
	color: gold;
	gap: 3px;
}
}

@media (max-width: 320px) {
.tags0 {
	justify-self: center;
	font-size: 14px;
	display: flex;
	gap: 16px;
}
}

@media (max-width: 320px) {
.t1-0 {
	color: white;
	font-size: 10px;
	background-color: #19C673;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (max-width: 320px) {
.t2-0 {
	color: white;
	font-size: 10px;
	background-color: #005AFD;
	padding: 2px 8px;
	border-radius: 4px;
}
}

@media (max-width: 320px) {
.card0 {
	height: 240px;
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 156px;
}
}

@media (max-width: 320px) {
.textcard0 {
	overflow: hidden;
	font-size: 10px;
	width: 130px;
	height: 48px;
}
}

@media (max-width: 320px) {
.cream0 {
	margin: 0 auto;
    max-width: 100%;
}
}

@media (max-width: 320px) {
.price0 {
	font-size: 14px;
	width: 159px;
	justify-content: center;
	display: flex;
	gap: 3px;
}
} 

@media (max-width: 320px) {
.price1-0 {
	padding: 4px 8px;
	color: #FD33BD;
	border-radius: 24px;
	background-color: #EDF1F9;
}
}

@media (max-width: 320px) {
.price2-0 {
	padding: 4px 7px;
	color: #BDBDBD;
}
}

@media (max-width: 320px) {
.rating-area0 {
	margin: 0 auto;
	display: flex;
	color: gold;
}
}
/**********/
.rating-area0 input {
	display: none;
}

.rating-area0 label:before {
	content: url(star-sharp-svgrepo-com.svg);
}

.card0:hover  {
	color: #535C6F;
}

.card0:focus {
	color: #535C6F;
}

.card0:hover {
    box-shadow: 2px 1px 10px 4px #0000001A;
}

.card0:focus {
    outline: 2px solid #E5EFFF;
}

/**/

.card1 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}

.card2 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}

.card3 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}

.card4 {
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 192px;
}

.tags {
	justify-self: center;
	font-size: 14px;
	display: flex;
	gap: 16px;
}

.t1{
	color: white;
	font-size: 10px;
	background-color: #19C673;
	padding: 2px 8px;
	border-radius: 4px;
}

.t2{
	color: white;
	font-size: 10px;
	background-color: #005AFD;
	padding: 2px 8px;
	border-radius: 4px;
}

.cream {
	margin-top: 32px;
	margin-bottom: 16px;
	margin-right: 16px;
	max-width: 100%;
}

.rs {
	margin: 16px;
}

.textcard {
	overflow: hidden;
	font-size: 14px;
	width: 160px;
	height: 60px;
}

.textcardh {
	color: #535C6F;
	overflow: hidden;
	font-size: 14px;
	width: 160px;
	height: 60px;
}

.textcardf {
	color: #535C6F;
	overflow: hidden;
	font-size: 14px;
	width: 160px;
	height: 60px;
}

.price {
	justify-content: center;
	margin: 16px 1px;
	display: flex;
}

.price1 {
	padding: 4px 12px;
	color: #FD33BD;
	border-radius: 24px;
	background-color: #EDF1F9;
}

.price2 {
	padding: 4px 7px;
	color: #BDBDBD;
}

.rating-area {
	margin-top: 16px;
	display: flex;
	color: gold;
	gap: 3px;
}

.rating-area input {
	display: none;
}

.rating-area label:before {
	content: url(star-sharp-svgrepo-com.svg);
}

.card:hover,
.hover4 {
    box-shadow: 2px 1px 10px 4px #0000001A;
}

.card:focus,
.focus4 {
    outline: 2px solid #E5EFFF;
}
/**/
.rs {
	margin: 12px;
}

.card5 {
	height: 240px;
	border-radius: 12px;
	background-color: #FFFFFF;
	width: 156px;
}

.textcardm {
	overflow: hidden;
	font-size: 10px;
	width: 130px;
	height: 48px;
}

.creamm {
	max-width: 100%; 
}

.pricem {
	font-size: 14px;
	width: 159px;
	justify-content: center;
	display: flex;
}

.price1m {
	padding: 4px 8px;
	color: #FD33BD;
	border-radius: 24px;
	background-color: #EDF1F9;
}

.price2m {
	padding: 4px 7px;
	color: #BDBDBD;
}

.ratingm {
	display: flex;
	color: gold;
	gap: 3px;
}

.ratingm input {
	display: none;
}

.ratingm label:before {
	content: url(star-sharp-svgrepo-com.svg);
}
/**/

.container5 {
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 30px;
	box-shadow: 6px 4px 100px 10px black;
	background: #000000;
	background: linear-gradient(32deg, rgba(0, 0, 0, 1) 0%,
	rgba(129, 176, 219, 1)
	51%, rgba(83, 178, 237, 1) 81%);
}

.box11 {
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
	margin-bottom: 20px;
}

.box12 {
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
	margin-left: 20px;
	gap: 16px;
}

.box13 {
	margin-top: 16px;
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
	margin-left: 20px;
	gap: 16px;
}

.hoverc {
	box-shadow: 2px 1px 10px 4px #0000001A;
}

.focusc {
	outline: 2px solid #9AAACC;
}

.cardcenter {
	border-radius: 24px;
	background-color: white;
	width: 300px;
	height: 454px;
}

.cardcenter905 {
	border-radius: 24px;
	background-color: white;
	width: 270px;
	height: 378px;
}

.cardcenter600 {
	border-radius: 12px;
	background-color: white;
	width: 269px;
	height: 378px;
}

.card-img {
	margin: 24px;
	margin-bottom: 16px;
    width: 252px;
	height: 254px;
	border-radius: 12px;
}

.card-img905 {
	margin: 16px;
	margin-bottom: 12px;
    width: 238px;
	height: 254px;
	border-radius: 12px;
}

.card-img600 {
	margin: 16px;
	margin-bottom: 12px;
    width: 238px;
	height: 254px;
	border-radius: 8px;
}

.mediacenter {
	margin-left: 24px;
	margin-right: 24px;
}

.mediacenter905 {
	margin-left: 16px;
	margin-right: 16px;
}

.mediacenter600 {
	margin-left: 16px;
	margin-right: 16px;
}

.textcenter {
	font-size: 18px;
	margin-bottom: 16px;
}

.textcenter905 {
	font-size: 18px;
	margin-bottom: 8px;
}

.textcenter600 {
	font-size: 18px;
	margin-bottom: 8px;
}

.hashtags {
	overflow: hidden;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}

.hash1 {
	font-size: 10px;
	border-radius: 32px;
	padding: 2px 8px;
	background-color: #E5EFFF;
}

.blocklike {
	width: 56px;
	height: 24px;
}

.social {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}

.social905 {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}

.social600 {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}

.like {
	content: url(like-svgrepo-com.svg)
}

.viewed {
	content: url(eye-open-svgrepo-com.svg)
}

.comments {
	content: url(conversation-bubble-chat-chat-communication-spech-svgrepo-com.svg)
}

.howmuch {
	vertical-align: top;
	color: #A6B3CD;
}
/**/
.cardcentercb:hover {
	box-shadow: 2px 1px 10px 4px #0000001A;
}

.cardcentercb:focus {
	outline: 2px solid #9AAACC;
}

@media (min-width: 1280px) {
.cardcentercb {
	border-radius: 24px;
	background-color: white;
	width: 300px;
	height: 454px;
}
}

@media (min-width: 1280px) {
.card-imgcb {
	margin: 24px;
	margin-bottom: 16px;
    width: 252px;
	height: 254px;
	border-radius: 12px;
}
}

@media (min-width: 1280px) {
.mediacentercb {
	margin-left: 24px;
	margin-right: 24px;
}
}

@media (min-width: 1280px) {
.hashtagscb {
	overflow: hidden;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}
	
}
@media (min-width: 1280px) {
.textcentercb {
	font-size: 18px;
	margin-bottom: 16px;
}
}

@media (min-width: 1280px) {
.socialcb {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}
}

@media (max-width: 1280px) {
.cardcentercb {
	border-radius: 24px;
	background-color: white;
	width: 300px;
	height: 454px;
}
}

@media (max-width: 1280px) {
.card-imgcb {
	margin: 24px;
	margin-bottom: 16px;
    width: 252px;
	height: 254px;
	border-radius: 12px;
}
}

@media (max-width: 1280px) {
.mediacentercb {
	margin-left: 24px;
	margin-right: 24px;
}
}

@media (max-width: 1280px) {
.hashtagscb {
	overflow: hidden;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1280px) {
.textcentercb {
	font-size: 18px;
	margin-bottom: 16px;
}
}

@media (max-width: 1280px) {
.socialcb {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}
}

@media (max-width: 905px) {
.cardcentercb {
	border-radius: 24px;
	background-color: white;
	width: 270px;
	height: 378px;
}
}

@media (max-width: 905px) {
.textcentercb {
	font-size: 18px;
	margin-bottom: 8px;
}
}

@media (max-width: 905px) {
.mediacentercb {
	margin-left: 16px;
	margin-right: 16px;
}
}

@media (max-width: 905px) {
.card-imgcb {
	margin: 16px;
	margin-bottom: 12px;
    width: 238px;
	height: 254px;
	border-radius: 12px;
}
}

@media (max-width: 905px) {
.socialcb {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}
}

@media (max-width: 905px) {
.hashtagscb {
    height: 16px;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}
}


@media (max-width: 600px) {
.cardcentercb {
	border-radius: 12px;
	background-color: white;
	width: 269px;
	height: 378px;
}
}

@media (max-width: 600px) {
.textcentercb {
	font-size: 18px;
	margin-bottom: 8px;
}
}

@media (max-width: 600px) {
.mediacentercb {
	margin-left: 16px;
	margin-right: 16px;
}
}

@media (max-width: 600px) {
.card-imgcb {
	margin: 16px;
	margin-bottom: 12px;
    width: 238px;
	height: 254px;
	border-radius: 8px;
}
}

@media (max-width: 600px) {
.socialcb {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}
}

@media (max-width: 600px) {
.hashtagscb {
	height: 16px;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}
}
/**/


